<div class="product-item">
  <a class="product-item-a" href="{{ product.url }}">
    <img class="product-image" src="{{ product.featured_image | image_url }}" height="auto" width="400">

    <div class="product-item-info">
      <h3 class="product-title">{{ product.title }}</h3>
      <p class="product-price">{{ product.price | money }}</p>
    </div>
  </a>

  <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <div class="collection-atc-container">
      <button class="collection-add-to-cart" type="submit" name="add">Add to cart</button>
    </div>
  </form>
</div>
