<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Roberts First Theme</title>
    {% style %}
      :root {
        --width: {{ settings.page_width}}px;
        --bg: {{ settings.background_color }};
        --text: {{ settings.text_color }};
        --border: {{ settings.border_color }};
        --mediumText: {{ settings.medium_text_color }};
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {{ 'home.css' | asset_url | stylesheet_tag }}
    {{ 'faq.css' | asset_url | stylesheet_tag }}
    {{ 'collection.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
