<div class="cart" data-money-format="{{ shop.money_format }}">
  <div class="width">
    {% form 'cart', cart %}
      <h1>Cart</h1>

      {% if cart.empty? %}
        <p>Your Cart is Empty</p>
        <a class="button" href="/">Keep shopping</a>
      {% else %}
        {% for item in cart.items %}
          {% render 'cart-item', item: item %}
        {% endfor %}

        <hr>

        <div class="cart-notes">
          <textarea name="note" placeholder="Add special instrustions">{{ cart.note }}</textarea>
        </div>

        <div class="cart-totals">
          <p id="total-discount">Discounts: {{ cart.total_discount | money }}</p>
          <p id="total-price">Total: {{ cart.total_price | money }}</p>
        </div>

        <div class="cart-buttons">
          <button type="submit" name="checkout">Checkout</button>
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>

<script src="{{ 'cart.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "cart",
  "settings": []
}
{% endschema %}
