<footer class="footer">
  <div class="width">
    <div class="footer-top">
      {% for block in section.blocks %}
        {% if block.type == 'navigation' %}
          <div class="footer-column footer-column--nav">
            <h2>{{ block.settings.linklist.title }}</h2>

            {% for link in block.settings.linklist.links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </div>
        {% elsif block.type == 'newsletter' %}
          <div class="footer-column footer-column--news">
            <h2>{{ block.settings.heading }}</h2>

            {{ block.settings.text }}
            {% form 'customer', id: 'footer-newsletter' %}
              {% if form.posted_successfully? %}
                <p class="footer-column-news-message">You've been subscribed</p>
              {% endif %}

              {% if form.errors %}
                <p class="footer-column-news-message">{{ form.errors.messages.Email }}</p>
              {% endif %}

              <input type="hidden" name="contag[tags]" value="newsletter">
              <input name="contact[email]" type="email" placeholder="Email address">
              <button type="submit">Subscribe</button>
            {% endform %}
          </div>
        {% elsif block.type == 'text' %}
          <div class="footer-column footer-column--text">
            <h2>{{ block.settings.heading }}</h2>

            {{ block.settings.text }}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer-bottom">
      <p class="footer-copyright">{{ section.settings.copyright }}</p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: {{  settings.secondary_color }};
  }

  .footer-column p, .footer-column a {
    color: {{ settings.medium_text_color }};
  }

  .footer-column a:hover {
    color: {{ settings.hover_text_color }};
  }

  .footer-column.footer-column--news button {
    color: {{ settings.text_color }};
    background-color: {{ settings.button_color }};
    border-color: {{ settings.button_color  }};
  }

  .footer-column.footer-column--news button:hover {
    color: {{ settings.medium_text_color }};
    background-color: {{ settings.button_hover_color }};
    border-color: {{ settings.button_hover_color  }};
  }

  .footer-column.footer-column--news input {
    border-color: {{ settings.primary_color }}
  }

  .footer-copyright {
    color: {{  settings.medium_text_color }};
  }
</style>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright text",
      "type": "text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Newsletter",
      "type": "newsletter",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "Navigation Column",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Navigation Menu"
        }
      ]
    }
  ]
}
{% endschema %}
