<div class="width">
  <div class="header-flex">
    <a href="/" class="header-logo">
      <img
        src="{{  section.settings.logo | image_url }}"
        alt="{{ shop.name }}"
        width="auto"
        height="auto"
      >
    </a>

    <button class="header-hamburger">
      <span class="header-hamburger-bar"></span>
      <span class="header-hamburger-bar"></span>
      <span class="header-hamburger-bar"></span>
    </button>

    <ul class="header-nav">
      {% for link in section.settings.navigation.links %}
        <li class="header-nav-item">
          <a class="header-nav-a" href="{{ link.url }}">
            {{ link.title }}
          </a>

          {% if link.links != blank %}
            <ul class="header-sub">
              {% for child in link.links %}
                <li class="header-sub-item">
                  <a href="{{ child.url }}" class="header-sub-a">
                    {{ child.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% render 'icon-cart' %}
        <div class="cart-count-bubble">
          <span>{{ cart.item_count }}</span>
        </div>
      </a>
    </ul>
  </div>
</div>

<div class="header-nav-overlay"></div>

<style>
  .header {
    padding: {{ section.settings.padding }}px 0px;
  }

  .header-logo {
    max-width: {{ section.settings.logo_width }}px
  }

  .cart-count-bubble {
    background-color: {{ settings.primary_color }};
    color: {{ settings.text_color }};
  }
</style>

<script>
  document.querySelector('.header-hamburger').addEventListener('click', (e) => {
    document.querySelector('.header').classList.toggle('nav-active');
  });

  document.querySelector('.header-nav-overlay').addEventListener('click', (e) => {
    document.querySelector('.header').classList.remove('nav-active');
  });
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "range",
      "id": "padding",
      "label": "Header height",
      "default": 24,
      "min": 5,
      "max": 100,
      "step": 1
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "default": 100,
      "min": 20,
      "max": 300,
      "step": 5
    },
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
