<section class="product-page">
  <div class="product-page-width">
    {%- if settings.show_breadcrumb_nav -%}
      {% render 'breadcrumbs' %}
    {%- endif -%}

    <div class="product">
      <div class="product-page-image">
        {% for media in product.media %}
          {% render 'media', media: media %}
        {% endfor %}
      </div>

      <div class="product-page-info">
        <h1 class="product-page-title">{{ product.title }}</h1>

        <p class="product-page-price">{{ product.price | money }}</p>

        {% form 'product', product %}
          <div class="quanityt-container">
            <label class="quantity__label" for="Quantity-{{ section.id }}">Quantity: </label>
            <input
              class="quantity__input"
              type="number"
              name="quantity"
              id="Quantity-{{ section.id }}"
              min="1"
              value="1"
            >
          </div>

          {%- unless product.has_only_default_variant -%}
            <div class="product-page-options">
              {% for option in product.options_with_values %}
                <label class="option-label"> {{ option.name }}: </label>
                <select name="id" class="product-page-options-selector">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}">{{ value }}</option>
                  {% endfor %}
                </select>
              {% endfor %}
            </div>

            <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}">
              <div>
                <button class="product-page-add-to-cart" type="submit" name="add">Add to cart</button>
              </div>
            </form>
          {% endunless %}
        {% endform %}

        <div class="product-page-description">
          <h3>Description</h3>
          {{ product.description }}
        </div>
      </div>
    </div>

    {% if section.settings.show_recently_viewed %}
      {% render 'recently-viewed' %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "product",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_recently_viewed",
      "label": "Show Recently Viewed Products",
      "default": true
    }
  ]
}
{% endschema %}
