<section class="product-page">
  <div class="product-page-width">
    {%- if settings.show_breadcrumb_nav -%}
      {% render 'breadcrumbs' %}
    {%- endif -%}

    <div class="product">
      <div class="product-image">
        {% for media in product.media %}
          {% render 'media', media: media %}
        {% endfor %}
      </div>

      <div class="product-info">
        <h1 class="product-title">{{ product.title }}</h1>

        <p class="product-price">{{ product.price | money }}</p>

        {% form 'product', product %}
          <label class="quantity__label" for="Quantity-{{ section.id }}">Quantity: </label>
          <input
            class="quantity__input"
            type="number"
            name="quantity"
            id="Quantity-{{ section.id }}"
            min="1"
            value="1"
          >

          {%- unless product.has_only_default_variant -%}
            <div class="product-form">
              {% for option in product.options_with_values %}
                <label>
                  {{ option.name }}
                </label>
                <select name="id" class="product-options">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}">{{ value }}</option>
                  {% endfor %}
                </select>
              {% endfor %}
            </div>

            <button class="product-add-to-cart" type="submit">{{ 'general.add_to_cart' | t }}</button>
          {% endunless %}
        {% endform %}

        <div class="product-description">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "product",
  "settings": []
}
{% endschema %}
